div.buffer-frame {
  display: flex;
  height: 100%;

  ul.buffer-list {
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 200px;

    li {
      div {
        display: block;
        padding: 4px;

        > button.close {
          display: none;
        }

        &:hover > button.close {
          display: block;
        }
      }

      &.active > div, > div:hover {
        background-color: #CCCCCC;
      }

      ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
          display: block;

          div {
            padding: 4px 4px 4px 16px;
          }

          // The server buffer is melded into the parent
          &[data-server="true"] {
            display: none;
          }
        }
      }

      // 'default' is considered to be a pseudo-parent. Have its children look
      // like they're not apart of a group.
      &[data-default="true"] {
        > div {
          display: none;
        }

        ul li div {
          padding: 4px;
        }
      }
    }
  }

  div.buffer {
    height: 100%;
    width: 100%;
  }
}
