ul.buffer-list {
  display: block;
  float: left;
  height: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 200px;

  li.parent {
    span {
      display: block;
      padding: 4px;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        display: block;
        padding: 4px 4px 4px 16px;

        &.active, &:hover {
          background-color: #CCCCCC;
        }
      }
    }

    // 'default' is considered to be a pseudo-parent. Have its children look
    // like they're not apart of a group.
    &[data-default="true"] {
      span {
        display: none;
      }

      li {
        padding: 4px;
      }
    }
  }
}

div.buffer {
  height: 100%;
  overflow: auto;
}
