html, body {
  height: 100%;
}

body {
  font-family: 'Lucida Grande', Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

@import 'buffers';
@import 'messages';
