div.messages {
  display: flex;
  flex: 1;
  flex-flow: column;
  height: 100%;

  ul {
    list-style: none;
    height: 100%;
    margin: 0;
    overflow: auto;
    padding: 0;

    li.message {
      span.timestamp {
        &:before {
          content: '[';
        }

        &:after {
          content: '] ';
        }
      }

      span.nick {
        &:empty {
          display: none;
        }

        &:before {
          content: '<';
        }

        &:after {
          content: '> ';
        }
      }

      pre {
        margin: 0;
        padding: 0;
        word-wrap: break-word;
      }
    }
  }

  form {
    height: 23px;

    input {
      box-sizing: border-box;
      width: 100%;
    }
  }
}
