div.settings {
  margin: 4px;

  form {
    display: table;

    > label, > div {
      display: table-row;

      > * {
        display: table-cell;
      }

      > span {
        padding-right: 4px;
      }
    }
  }
}
